{{>partials/header}}
<div class="form">
        <form action="#">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Outros Comentários e
                            Observações</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
{{>partials/footer}}