{{>partials/header}}
<p>
        <b>Ficha de avaliação Podológica</b>
    </p>
    <div class="form">

        <form action="#">
            <h4>Dados Pessoais</h4>
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Nome:</label>
                    <input id="name" type="text" name="name" placeholder="Informe Seu nome" required>
                </div>

                <div class="input-box">
                    <label for="date">Data:</label>
                    <input id="date" type="date" name="date" placeholder="xx/xx/xx" required>
                </div>

                <div class="input-box">
                    <label for="address">Endereço:</label>
                    <input id="adrress" type="text" name="address" placeholder="Endereço" required>
                </div>

                <div class="input-box">
                    <label for="city">Cidade:</label>
                    <input id="city" type="text" name="city" placeholder="Cidade" required>
                </div>

                <div class="input-box">
                    <label for="state">Estado:</label>
                    <input id="state" type="text" name="state" placeholder="Estado" required>
                </div>

                <div class="input-box">
                    <label for="cep">CEP:</label>
                    <input id="cep" type="text" name="cep" placeholder="xxxxx-xxx" required>
                </div>

                <div class="input-box">
                    <label for="homePhone">Tel. Res:</label>
                    <input id="homePhone" type="text" name="homePhone" placeholder="(xx)xxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="phone">Tel:</label>
                    <input id="phone" type="text" name="phone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Tel. Emergêncial:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Tel. Emergêncial:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Data Nasc.</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Profissão:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Email:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>
            </div>

            <div class="gender-input">
                <label for="sex">Sexo:</label>
                <input type="radio" name="famale" id="gender">
                <label for="famale">Feminino</label>
            </div>
            <div class="gender-input">
                <input type="radio" name="male" id="gender">
                <label for="male">Masculino</label>
            </div>
        </form>
    </div>
{{>partials/footer}}