{{>partials/header}}
<p>
        <b>Ficha de avaliação Podológica</b>
    </p>
    <div class="form">

        <form action="#">
            <h4>Dados Pessoais</h4>
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Nome:</label>
                    <input id="name" type="text" name="name" placeholder="Informe Seu nome" required>
                </div>

                <div class="input-box">
                    <label for="date">Data:</label>
                    <input id="date" type="date" name="date" placeholder="xx/xx/xx" required>
                </div>

                <div class="input-box">
                    <label for="address">Endereço:</label>
                    <input id="adrress" type="text" name="address" placeholder="Endereço" required>
                </div>

                <div class="input-box">
                    <label for="city">Cidade:</label>
                    <input id="city" type="text" name="city" placeholder="Cidade" required>
                </div>

                <div class="input-box">
                    <label for="state">Estado:</label>
                    <input id="state" type="text" name="state" placeholder="Estado" required>
                </div>

                <div class="input-box">
                    <label for="cep">CEP:</label>
                    <input id="cep" type="text" name="cep" placeholder="xxxxx-xxx" required>
                </div>

                <div class="input-box">
                    <label for="homePhone">Tel. Res:</label>
                    <input id="homePhone" type="text" name="homePhone" placeholder="(xx)xxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="phone">Tel:</label>
                    <input id="phone" type="text" name="phone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Tel. Emergêncial:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Tel. Emergêncial:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Data Nasc.</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Profissão:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="emergencyPhone">Email:</label>
                    <input id="emergencyPhone" type="text" name="emergencyPhone" placeholder="(xx) xxxxx-xxxx" required>
                </div>
            </div>

            <div class="gender-input">
                <label for="sex">Sexo:</label>
                <input type="radio" name="famale" id="gender">
                <label for="famale">Feminino</label>
            </div>
            <div class="gender-input">
                <input type="radio" name="male" id="gender">
                <label for="male">Masculino</label>
            </div>
        </form>
    </div>


    <!-- DADOS GERAIS -->
    <div class="form">

        <form action="#">
            <h4>Dados Gerais</h4>

            <div class="input-box">
                <label for="question">Queixa principal:</label>
                <input type="text">
            </div>


            <div class="input-box">
                <div class="gender-input">
                    <label for="question">Costuma ir ao Podólogo?</label>

                    <input type="radio" name="yes" id="gender">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="gender">
                    <label for="no">Não</label>

                </div>

                <div class="gender-input">
                    <label for="frequence">Com qual frequência?</label>
                    <input type="text">
                </div>
                <div class="gender-input">
                    <label for="">Faz uso de medicamentos? Quais?</label>
                    <input type="text" name="yes" id="gender">
                </div>

                <div class="gender-input">
                    <label for="">Alérgico?</label>

                    <input type="radio" name="yes" id="gender">
                    <label for="no">Sim</label>

                    <input type="radio" name="yes" id="gender">
                    <label for="no">Não</label>
                </div>

                <div class="gender-input">
                    <label for="">Quais substâncias?</label>
                    <input type="text" name="" id="">
                </div>
                <div class="gender-input">
                    <label for="job-position">Posição de trabalho:</label>
                    <label for="standing">Em pé</label>
                    <input type="radio" name="" id="">
                    <label for="sitting">Sentado</label>
                    <input type="radio" name="" id="">
                    <label for="walking">Andando</label>
                    <input type="radio" name="" id="">
                    <label for="duration">Duração</label>
                    <input type="radio" name="" id="">
                    <label for="hs">hs</label>
                    <input type="radio" name="" id="">
                </div>

                <br>

                <div class="gender-input">
                    <label for="">Passa a maior parte do tempo:</label>
                    <input type="radio">
                    <label for="standing">Em pé</label>
                    <input type="radio" name="standing">
                    <label for="sitting">Sentado</label>
                    <input type="radio" name="walking" id="">
                    <label for="">Caminhando</label>
                </div>

                <div class="gander-input">
                    <label for="">N° do calçado</label>
                    <input type="text" name="" id="" placeholder="32/33">
                </div>
                <div class="gander-input">
                    <label for="">Tipo de calçado de uso diário</label>
                    <input type="text" name="" id="" placeholder="Chinelo, Tênis">
                </div>
                <div class="gander-input">
                    <label for="">Faz uso de palmilha?</label>


                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>


                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>

                </div>
                <div class="gender-input">
                    <label for="">Qual?</label>


                    <input type="radio" name="" id="">
                    <label for="">Ortopédica</label>


                    <input type="radio" name="" id="">
                    <label for="">Descanso</label>
                </div>

                <div class="gander-input">
                    <label for="">É fumante?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gander-input">
                    <label for="">Ciclo de menstruação regular?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gander-input">
                    <label for="">Está gestante?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gender-input">
                    <label for="">Está amamentando?</label>
                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gender-input">
                    <label for="DUM">DUM</label>
                    <input type="date" name="" id="">
                </div>

                <div class="gander-input">
                    <label for="">Pratica atividade física?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>

                    <label for="frequence">Frequência?</label>
                    <input type="text" name="frequence" id="" placeholder="Três vezes na semana">

                    <label for="frequence">Qual esporte e tipo de calçado?</label>
                    <input type="text" name="frequence" id="" placeholder="Esporte">
                    <input type="text" name="frequence" id="" placeholder="Calçado">

                </div>
            </div>
        </form>
    </div>
{{>partials/footer}}