{{>partials/header}}
<div class="form">

        <form action="#">
            <h4>Formato das Unhas</h4>
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/unha_caracol.png" alt="">
                    <p>Unha Caracol</p>
                </div>

                <div class="col-md-3">
                    <img src="/images/unha_cunha.png" alt="">
                    <p>Unha Cunha</p>
                </div>

                <div class="col-md-3">
                    <img src="/images/unha_funil.png" alt="">
                    <p>Unha Funil</p>
                </div>

                <div class="col-md-3">
                    <img src="/images/unha_gancho.png" alt="">
                    <p>Unha Gancho</p>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <img src="/images/unha_involuta.png" alt="">
                        <p>Unha Involuta</p>
                    </div>

                    <div class="col-md-3">
                        <img src="/images/unha_normal.png" alt="">
                        <p>Unha Normal</p>
                    </div>

                    <div class="col-md-3">
                        <img src="/images/unha_telha.png" alt="">
                        <p>Unha Telha</p>
                    </div>

                    <div class="col-md-3">
                        <img src="/images/unha_torques.png" alt="">
                        <p>Unha Torques</p>
                    </div>
                </div>

            </div>
            <div class="titulo2 text-center ">
                <h2>Artelhos</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2 ">
                    <h3>PD</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Hálux
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            2°
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            3°
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            4°
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            5°
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <h3>PE</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Hálux
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            2°
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            3°
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            4°
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            5°
                        </label>
                    </div>

                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicoatrofia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicocriptose
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicorrexe
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Granuloma
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicogrifose
                        </label>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicolise
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicofose
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Psoríase ungueal
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Onicomicose
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Outras alterações ungueais</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>







        </form>

    </div>
{{>partials/footer}}