<html>
<head>
    <title>Página Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
        <div class="container">
            <div class="logo">
                <img src="images/senac-logo-0-removebg-preview-removebg-preview.png" alt="">
            </div>
        </div>
    </header>
 
</body>
<html>